numpy
pandas
matplotlib
scikit-learn
scipy
seaborn
pillow

jupyter
notebook
ipykernel

langchain
langchain-core
langchain-community
langchain-openai

langgraph
langgraph-checkpoint
langgraph-prebuilt

langsmith

openai

python-dotenv

requests

tqdm

faiss-cpu

chromadb

pypdf

beautifulsoup4

lxml

tiktoken